/*STYLING OF THE WEBSITE'S BODY*/
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color:#222;
    background-color:#FFFFFF;
  }
  
  
body.dark {
  background-color:rgb(59, 59, 59);
  color:#fff;
}
    
  
/*HEADER */
.header {
  padding: 1%;
  width: 100%;
  background-blend-mode: darken ;
  background: #CC2121;
  display: flex;
  flex-direction: row;
}

.header h2 {
  color: white;
  display: flex;
  margin-left: 30%;
  margin-right:10%;
}

.header a {
  margin-top: 4%;
  float: left;
  color: #f2f2f2;
  font-size: 30px;
  margin-right:10%;
}

  /*FLEX BOX*/
  .topnav{
    width: 25%;
  }
  
  
  /* NAVIGATION BAR */
  .topnav {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    bottom: 1px;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    background-color: #CC2121;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    padding:10px 19px;
  }


/*STYLING OF THE PROFILE PICTURE*/

.profileBody{
  padding:10px;
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.profileBody img{
  width:15vh;
  margin-left:33%;
}

.profileBody p{
  display:flex;
  place-content: center;
}

/*TABLE STYLING*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  display:flex;
  place-content: center;
}

td, th {
  border-bottom: 3px solid #CC2121;
  text-align: left;
  padding: 20px;
}

/*tr:nth-child(even) {
  background-color: #a0a0a0;
}*/

.backBtn{
  color: white;
  background-color: #CC2121;
  border-radius: 8px;
  font-size: 22px;
  cursor: pointer;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  margin-left: 32% ;
}
.body{
  padding:5px;
}