/*STYLING OF THE WEBSITE'S BODY*/
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color:#222;
    background-color:#FFFFFF;
  }
  
  
  body.dark {
    background-color:rgb(59, 59, 59);
    color:#fff;
  }
    
  
  /*HEADER */
  .header {
    padding: 1%;
    width: 100%;
    background-blend-mode: darken ;
    background: #CC2121;
  }
  
  .header h2 {
    color: white;
    margin-left:7%;
  }
  
  /*Body (as in the class) */
  .body{
    display: flex;
    flex-direction: column;
    flex: 3 1 0 ;
  }
  
  /*FLEX BOX*/
  .container{
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      margin: 0;
  }
  
  .topnav{
    width: 10%;
    flex: 1 1 0;
  }
  
  
  /* NAVIGATION BAR */
  .topnav {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-right: 1%;
  }
  
  .topnav a {
    margin-bottom: 1px;
    float: left;
    color: #f2f2f2;
    background-color: black;
    text-align: center;
    padding: 10% 20%;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: white;
    color: black;
  }

/*STYLING OF THE PROFILE PICTURE*/

.profileHeader{
  padding:10px;
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  align-content: center;
}

.profileHeader img{
  width:10vw;
  margin-left:38%;
}

.profileHeader p{
  display:flex;
  justify-content: center;
}

/*TABLE STYLING*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
}

td, th {
  border-bottom: 3px solid #CC2121;
  text-align: left;
  padding: 20px;
}

/*tr:nth-child(even) {
  background-color: #a0a0a0;
}*/
