@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
	color:#222;
	background-color:#FFFFFF;
	width:320px;
	align-self:center;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: pink;
	color:black;
	border: 0;
	font-size: 17px;
}

/* Chat Page */

.chat-container {
	max-width: 100vw;
	height:75vh;
	background:#FFEBEB;
	margin: 0px auto;
	overflow: hidden;
}


.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}


.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: pink;
	border-radius: 5px;
	overflow-wrap: break-word;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: red;
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {
	position: fixed;
	bottom:0;
	padding: 20px 30px;
	margin:0 auto;
	background-color: red;
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}


.chat-main {
	display: block;
}

.chat-sidebar {
	display: none;
}

.form-control{
	display:block;
}

/*COMMON STYLING*/
/*Colour of body in light mode*/

  /*Colour of body in dark mode*/
  body.dark {
	background-color:rgb(59, 59, 59);
	color:#fff;
  }
  
  .header {
	padding: 1%;
	width: 100%;
	background: #CC2121;
	color:white;
	display: flex;
	flex-direction: row;
	position: sticky;
	top:0;
  }
  .header a {
	margin-top: 4%;
	float: left;
	color: #f2f2f2;
	font-size: 30px;
	margin-right:33%;
	margin-left:2%;
	float:left;
  }
  
  /*INDEX.HTML*/
  /*Making Navigation Bar stay at location even after scrolling*/
  .homeNav {
	position: absolute;
	position: sticky;
	bottom: 0;
	width:100%;
	display: flex;
	flex-direction: row;   
  }
  
  .homeNav a {
	float: left;
	color: #f2f2f2;
	background-color: #CC2121;
	text-align: center;
	font-size: 50px;
	padding:10px 19px;
  }
  
  .map{
	position: static;
	margin:0 ;
  }
  
  .mapBtn{
	top: 79px ;
	right:0;
	position: absolute;
	color: black;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
	font-size: 30px;
  }
  
  #indexHeader h2 {
	color: white;
	display: flex;
	margin-left: 30%;
	margin-right:10%;
  }
  
  #indexHeader a {
	margin-top: 4%;
	float: left;
	color: #f2f2f2;
	font-size: 30px;
	margin-right:10%;
	float:right;
  }
  
  /*PROFILE.HTML*/
  /*STYLING OF THE PROFILE PICTURE*/
  
  .profileBody{
	padding:10px;
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	justify-content: center;
	margin-bottom: 50px;
  }
  
  .profileBody img{
	width:15vh;
	margin-left:33%;
  }
  
  .profileBody p{
	display:flex;
	place-content: center;
  }
  
  /*TABLE STYLING*/
  table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	display:flex;
	place-content: center;
  }
  
  td, th {
	border-bottom: 3px solid #CC2121;
	text-align: left;
	padding: 20px;
  }
  
  
  .backBtn{
	color: white;
	background-color: #CC2121;
	border-radius: 8px;
	font-size: 22px;
	cursor: pointer;
	padding: 15px 40px;
	text-align: center;
	text-decoration: none;
	margin-left: 33%;
  }
  
  /*SETTING.HTML*/
  .buttonContainer{
	color: white;
	background-color:#E0E0E0;
	border-radius: 8px;
	cursor: pointer;
	padding: 15px;
	text-align: left;
	text-decoration: none;
	margin:5px ;
	border:1px black solid;
  }
  
  .buttonContainer button{
	font-size: 22px;
	background-color:transparent;
	border:none;
  }
  
  .complete-button{
	color: white;
	background-color:#E0E0E0;
	border-radius: 8px;
	cursor: pointer;
	padding: 15px;
	text-align: left;
	text-decoration: none;
	margin:5px ;
	border:1px black solid;
  }
  
  .backContainer{
	display:flex;
	flex-direction: row;
  }
  .backContainer a{
	color: grey;
	font-size: 30px;
	margin-right: 10%;
	margin-left:3%;
	margin-top:4%;
  }

  #aboutGame{
	color:black;
  }

.rewardPicture{
	display:block;
	height:auto;
	width: 97%;
	margin:6px;
	border:3px black solid;
}

.statistics{
	padding:10px;
	margin-bottom: 150px;	
}

.btn:hover {opacity:1}

.row {
    background: red;
    border: 2px solid black;
    border-radius: 15px;
    margin:5px;
    padding:0px
}

#game {
    padding: 5%;
    
}

#gamebg{
    height: 100%;
}

h1 {
    margin-right: auto;
    margin-left: auto;
}

#question{
    margin:50px auto 50px auto;
    font-size: 20px;
}

#startGame,
#questionBox,
#answerBox,
#results {
    margin-top: 20px;
}


span {
    margin-right: 20px;
    margin-left: 20px;
}

#firstButton{
    margin-left: auto;
}

#lastButton{
    margin-right: auto;
}

.answer{
    font-size: 15px;
    background-color: pink;
    color:black;
    width:250.9px;
    margin: 0px;
    margin-bottom: 5px;
    overflow: hidden;
}

#timerBox{
    padding:20px;
    margin-right: auto;
    margin-left: auto;
}

#stats{
    padding:20px;
}

.container{
    justify-content: center;
}

#startButton{
	margin-top: 250px;
}

.btnA{
	display:none;
}

#maskBtn{
	position: absolute;
	background-color: lightgreen;
	background-blend-mode: multiply;
	border-radius: 30px;
}

#maskBtn img{
	height:70px;
}
